/* Licence Publique Générale GNU (GNU General Publique License), Copyright 2005-2007 Geffrotin Yann */

/* Cascading Style Sheets (CSS)*/
/* memo : 500 couleurs en hexadecimal : http://cloford.com/resources/colours/500col.htm */

.logo{
  position: absolute;
  left:-21px;
  top:-15px;
  padding-left:22px;
  
}

a img {
  border: none; /* enlever les bordures des images */
}

body {
  margin:0; 
}


#titre { 
  background: url('fond.png') ; 
  width:100%; 
  text-align:center; 
  position: fixed; 
}


.Haut{
  top:-15px;
  width:100%;
  height:80px;
  text-align:center;
  color:#FFA500;
}

.recherche{
  text-align:center;
  background-color: #c8d7e3;
  color:black;
}


.AfficheProduit{
  width:880px;
  overflow:auto;
  margin:0px auto;
}

.BarreGauche{
  position: fixed;
  top:150px;
}

.bas{
  width:100%;
  background-color: #c8d7e3;
  color:black;
}