html
{
    font-family: "Sierra Madre";
    color: black;   
}

header/*bandeau haut*/
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 70px;
}

footer {
    justify-content: center;
	background-size: cover;
	position:fixed;
	bottom:0px;
	width:100%;
	text-align: center;
}

body
{
	font-size:13px;
	background-image:url(../images/showme); 
	background-size: cover;
}

.tout
{
	margin-top:70px;
}

.button:hover{
	cursor:pointer;
}


.table_presentation{
	width: 100%;
	height:50%;
	text-align: center;
}

.card_smoothie{
	background-color:rgba(255, 255, 255, 0.8);
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}


/*page de connexion*/
.login-container{
    margin: auto;
    width: 60%;
    padding: 5%;
	text-align: center;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
/*fin page de connexion*/


 

